/*----------------------Navigation--------------------*/

#crest{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.nav-link{
    font-family: 'Cinzel', serif;
}



/*-------------Students-section--------------*/



#student-section{
    background-color: teal;
    padding: 50px;
}

.student-heading{
    text-align: center;
    font-size: 45px;
}

.student-heading-info{
    text-align: center;
    font-size: 30px;
    margin: 30px auto;
}

.card-image-top{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.student-box{
    background-color: whitesmoke;
    border-radius: 8px;
}

.student-name{
    padding-left: 2px;
    padding-right: 2px;
    margin: 4px auto;
    font-family: 'Cinzel', serif;
    letter-spacing: 1.5px;
    font-size: 20px; 
}

.student-info{
    padding: 4px;
   
}


.student-link{
    text-align: center;
    
}

.read-more{
    font-family: 'Cinzel', serif;
    letter-spacing: 1.5px;
}


.student-profile-section{
    margin-bottom: 0px;
}




/*-------------Hidden Quotes--------------*/



.show-content{
    height: 100px;
    margin: 10px auto;
    display: block;
    color: teal;
}

/*

#quote{
    text-align: center;
    height: 30px;
    
}

#quote-1{
    text-align: center;
    height: 30px;
    
}

#quote-2{
    text-align: center;
    height: 30px;
    
}

#quote-3{
    text-align: center;
    height: 30px;
    
}

#quote-4{
    text-align: center;
    height: 30px;
    
}

#quote-5{
    text-align: center;
    height: 30px;
    
}

#quote-6{
    text-align: center;
    height: 30px;
    
}

#quote-7{
    text-align: center;
    height: 30px;
    
}

.showContent p{
    height: auto;
}

.showContent a{
    height: auto;
}

/*

/*-------------Students-button--------------*/


.show-more{
    background-color: lightcoral;
    border: none;

}

.btn{
    margin-top: 5px;
}


/*---------------------Map-----------------------*/

.student-countries{
    width: 80%;
    background-color: lightyellow;
    text-align: center;
    margin: 0px auto;

}

#map{
    height: 700px;
    width: 80%;
    margin: 50px auto;

}

div #map {min-height: 360px;}


/*-------------------Student-locations-------------------------*/

.student-locations{
    margin: 50px auto;
    text-align: center;
    font-family: 'Cinzel', serif;
}