/*----------------------Navigation--------------------*/

#crest{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.nav-link{
    font-family: 'Cinzel', serif;
}



/*-------------Students-section--------------*/



#student-section{
    background-color: teal;
    padding: 50px;
}

.student-heading{
    text-align: center;
    font-size: 45px;
}

.student-heading-info{
    text-align: center;
    font-size: 30px;
}

.student-name{
    color: black;
    margin-top: 5px;
    font-family: 'Cinzel', serif;
    letter-spacing: 1.5px;
    font-size: 20px;
}

.card{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.student-card{
    padding: 20px;
}



/*-------------Students-button--------------*/


.show-more{
    background-color: lightcoral;
    border: none;

}

.btn{
    margin-top: 5px;
}


/*---------------------Map-----------------------*/

#map{
    height: 500px;
    width: 80%;
    margin: 50px auto;

}

div #map {min-height: 360px;}


/*-------------------Student-locations-------------------------*/

.student-locations{
    margin: 50px auto;
    text-align: center;
    font-family: 'Cinzel', serif;
}