/*--------------------------------------------Navigation*/





/*--------------------------------------------Students section*/



#student-section{
    background-color: teal;
    padding: 50px;
}

.student-heading{
    text-align: center;
    font-size: 45px;
}

.student-heading-info{
    text-align: center;
    font-size: 30px;
}

.card{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.student-card{
    padding: 20px;
}


/*--------------------------------------------Map*/

#map{
    height: 500px;
    width: 80%;
    margin: 50px auto;

}

div #map {min-height: 360px;}