/*----------------------Basics-----------------------*/

/*--font-family: 'Yanone Kaffeesatz', sans-serif;--*/


h1{
    font-family: 'Cinzel', serif;
}

h2{
    font-family: 'Cinzel', serif;
    padding-top: 30px;
    color: white;
}

/*----------------------Navigation--------------------*/

.crest{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.nav-link{
    font-family: 'Cinzel', serif;
    font-size: 25px;
    color: navy;
}



/*-------------Students-section--------------*/



#student-section{
    background-color: teal;
    padding: 50px;
}

.student-heading{
    text-align: center;
    font-size: 45px;
}

.student-heading-info{
    text-align: center;
    font-size: 25px;
    margin: 30px auto;
    color: white;
    font-style: normal;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.card-image-top{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.student-box{
    background-color: whitesmoke;
    border-radius: 8px;
}

.student-name{
    padding-left: 2px;
    padding-right: 2px;
    margin: 4px auto;
    font-family: 'Cinzel', serif;
    letter-spacing: 1.5px;
    font-size: 20px; 
    color: teal;
}

.student-info{
    padding: 4px;
    text-align: center;

}

.student-profile-section{
    margin-bottom: 0px;
}


p a{
    font-style: normal;
}




/*-------------Hidden Quotes--------------*/



.show-content{
    height: 100px;
    margin: 10px auto;
    display: block;
    color: teal;
}


/*-------------Students-button--------------*/


.show-more{
    background-color: lightcoral;
    border: none;

}

.btn{
    margin-top: 5px;
    font-family: 'Cinzel', serif;
    letter-spacing: 1.5px;
}

/*-------------School-story--------------*/

.story-header{
    text-align: center;
}



#school-story{
    
    color: teal;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    padding-top: 30px;
    font-style: normal;
}

.school-story-conatiner{
    margin: 25px auto;
}

.mount-anville-img{
     border-radius: 75px;
     box-shadow: 2px black;
}






/*---------------------Map-----------------------*/

.student-countries{
    width: 80%;
    text-align: center;
    margin: 0px auto;

}

#map{
    height: 700px;
    width: 80%;
    margin: 100px auto;

}

div #map {min-height: 360px;}


/*-------------------Student-locations-------------------------*/

.student-locations{
    margin: 50px auto;
    text-align: center;
    font-family: 'Cinzel', serif;
    color: teal;
}

.student-locations-text{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;;
    color: teal
}



/*-------------------Slide-show-------------------------*/


#highlights{
    text-align: center;
    margin-bottom: -40px;
    color: teal;
}

.image-gallery{
    margin: 50px auto;
    }


#slider-outer{
    margin: 50px auto;
    text-align: center;
}

.slides-inner{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 10px auto;
}

.slides-inner img{
    display: none;
}

.slides-inner img.active{
    display: inline-block;
}


.previous{
    float: right;
}

.next{
    float: left;
}


/*-------------------Contact-------------------------*/

.footer-div{
    text-align: center;
}

.footer-crest{
    margin: 15px auto;
    border-radius: 50%;
    
}

#contact{
    background-color: teal;
    
}

.center-form{
    padding-top: 30px;
}

#request-btn{
    text-align: center;
    width: 45%;
    margin-bottom: 50px;

}

#fullname{
    margin: 10px auto;
}

#emailaddress{
    margin: 10px auto;
    
}

#enquiry{
    margin: 10px auto;
}


/*--------Medie-Queries-----------*/



